<div class="search-genres">
  <div class="inner">
    <div class="left">
      <button type="submit" class="add-genre">Add genre</button>
      <article class="genre">Genre1</article>
      <article class="genre">Genre2</article>
    </div>

    <div class="search-container">
      <input type="text" class="search-bar" #searchTerm>
      <button class="search-button" (click)="onSearch(searchTerm)"><i class="fa fa-search"></i></button>
    </div>
    <a routerLink="/add"><button>Add Game</button></a>
  </div>
</div>

<app-games></app-games>