* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:azure;
    /*border-color: rgb(0, 0, 0);
    border-style: solid;*/
}

ul {
    display: inline;
    list-style-type: none;
    position: absolute;
    top:15px;
    padding: 0;
}
nav > ul > li:not(:first-child) {
    margin-left: 20px;
}
nav > ul > li {
    display: inline;
}
nav > ul > li > h3 > a {
    text-decoration: none;
}
.logo {
    display: inline;
    margin-right: 30px;
    width:75px;
    height: 75px;
}
.login {
    position: absolute;
    right:30px;
    top:30px;
}
.search-bar{
    background-color:darkgrey;
    border-style: none;
    margin: 0;
    padding: 0;
}
.items-list{
    display:flex;
    flex-wrap:wrap;
}
.items-list > div {
    position: relative;
    width: 240px;
    height: 400px;
    margin: 20px;
}
.items-list > div > img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;
    border-radius: 6px;
}
.title {
    display: inline;
    position: relative;
    bottom: 26px;
    margin-right:100px
}
li > h3 {
    display: inline;
}
.add-genre{
    margin-left:20px;
    background-color: transparent;
    border: none;
}
.genre {
    display: inline;
    margin: 5px;
    padding: 3px;
    border-radius: 20px;
    background-color: dodgerblue;
}
.search-genres {
    position: relative;
    margin-bottom: 17px;
    top: 20px;
}
.search-container {
    position: absolute;
    display: inline;
    right:110px;
    height: 23px;
}
.search-container > i {
    margin:0;
    padding: 0;
}
.details-tag{
    display: inline;
    position: absolute;
    bottom: 0px;
    padding:0px;
    width: 240px;
    height: 100px;
    background-color:rgba(29, 29, 29, 0.5);
}
.price-tag {
    font-size: 30px;
    margin:10px;
    max-width: 180px;
}
.buy-button {
    position: absolute;
    right: 10px;
    top:10px;
    height: 35px;
    width: 70px;
    color: black;
    background-color: green;
    border-radius: 5px;
    border: none;
}
.game-title {
    white-space: nowrap;
    margin: 10px;
    overflow: hidden;
    max-height: 30px;
    text-overflow:ellipsis;
}