.details-tag{
    display: inline;
    position: absolute;
    bottom: 0px;
    padding:0px;
    width: 240px;
    height: 100px;
    background-color:rgba(29, 29, 29, 0.5);
}
.price-tag {
    font-size: 30px;
    margin:10px;
    max-width: 180px;
}
.buy-button {
    position: absolute;
    right: 10px;
    top:10px;
    height: 35px;
    width: 70px;
    color: black;
    background-color: green;
    border-radius: 5px;
    border: none;
}
.game-title {
    white-space: nowrap;
    margin: 10px;
    overflow: hidden;
    max-height: 30px;
    text-overflow:ellipsis;
}
.game-pic {
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;
    border-radius: 6px;
}