<div>
    <img  src="../assets/Assets/TQKAd8U6hnIFQIIcz6qnFh8C.jpeg">
    <div class="details-tag">
      <article class="price-tag">$60</article>
      <button class="buy-button">Buy</button>
      <article class="game-title">The Witcher 3: Wild Hunt</article>
    </div>
</div>

  <div>
    <img src="../assets/Assets/battlefieldV.jpg">
    <div class="details-tag">
      <article class="price-tag">$30</article>
      <button class="buy-button">Buy</button>
      <article class="game-title">Battlefield V</article>
    </div>
</div>

<div>
    <img src="../assets/Assets/stellaris.jpeg">
    <div class="details-tag">
      <article class="price-tag">$15</article>
      <button class="buy-button">Buy</button>
      <article class="game-title">Stellaris</article>
    </div>
</div>
  